# Entorno virtual
venv/
*.env
.env.production
.env.development

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*.pyc

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de distribución
*.egg-info/
dist/
build/

# Archivos de log
*.log

# Archivos de pruebas
coverage.xml
*.cover
*.py,cover
nosetests.xml
*.test

# Otros
*.DS_Store
*.egg
*.egg-info
*.pdb
*.pkl

# Archivos de caché
.cache/

.venv/

.DS_Store
Thumbs.db
